<p>home works!</p>
<div class="task-container">
  <app-task *ngFor="let task of tasks" [name]="task.name"></app-task>
</div>
<div class="new-task-container">
  <label for="taskNameInput">שם המטלה:</label>
  <input id="taskNameInput" type="text" [(ngModel)]="taskName">  
  <label for="dueDate">יש דדליין?</label>
  <input id = "hasDueDate" type="checkbox" [(ngModel)]="hasDeadLine"/>
  <div class="deadline-container" *ngIf="hasDeadLine">
  <label for="dueDate">דדליין:</label>
  <input
    type="datetime-local"
    id="dueDate"
    value="9999-12-31T00:00 "
    [(ngModel)]="taskDueDate"/>
  </div>
  <button (click)="addTask(taskName, hasDeadLine, taskDueDate)">+</button>
</div>
